* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: monospace;
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}

.container {
  margin: 0 2rem 0 2rem;
  height: 100%;
  min-height: 58rem;
  max-width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  min-height: 50px;
  border: groove 1em mediumblue;
  border-radius: 2em;

  &__container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    background-image: url("../img/zeliboba.jpg");
    background-size: cover;
    background-position: top;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 5;
    width: 5rem;
    height: 5rem;
  }
}

.menu__icon {
  display: none;
}

.menu__list > li {
  list-style-type: none;
  position: relative;
  margin: 0 0 0 20px;
}

.menu__link {
  text-decoration: none;
  font-size: 1.5rem;
  color: mediumblue;

  &:hover {
    color: orangered;
  }
}

.main-part {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  margin: 2rem 15rem 15rem;

  &__heading {
    font-size: 1.5rem;
    color: orangered;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 1rem;

    &--first {
      font-size: 6rem;
      color: blue;
      margin: 12rem 0;
      text-shadow: 1.2rem 0.7rem 1rem #999;
    }
  }

  &__text {
    font-size: 1.3rem;
    text-align: justify;
    padding: 0 2rem 2rem;

    &--first {
      font-size: 1.7rem;
      padding: 1.7rem;
    }
  }

  &__section {
    background-color: lightblue;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    min-width: 5rem;
    max-width: 45%;
    box-shadow: 1.2rem 0.7rem 1rem 0.5rem #999;

    &--first {
      min-width: 90%;
      max-width: 100%;
      margin-bottom: 10rem;
    }
  }
}

.footer {
  display: block;
  width: 100%;
  min-height: 18rem;
  overflow-x: hidden;
  background-image: url("../img/sezam.jpg");

  &__text {
    font-size: 1.5rem;
    color: white;
    padding: 2rem;
  }
}

.stories-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  margin: 10rem 15rem 3rem;

  &__section {
    padding: 1rem;
    margin: 1rem 1rem 4rem;
    min-width: 38rem;
    max-width: 45%;
    max-height: 30%;
    box-shadow: 1.2rem 0.7rem 1rem 0.5rem #999;
    border-radius: 2rem;

    &--main {
      min-width: 95%;

      &:hover {
        background-color: lightblue;
      }
    }
  }

  &__link {
    text-decoration: none;
    max-height: 30rem;
    width: 100%;
  }

  &__img {
    width: 100%;
    max-height: 45rem;
    border-radius: 2rem 2rem 0 0;

    &-container {
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 2rem 2rem 0 0;
      min-height: 40rem;

      &-1 {
        background-image: url("../img/story-picture1.jpg");
      }

      &-2 {
        background-image: url("../img/story-picture2.jpg");
      }

      &-3 {
        background-image: url("../img/story-picture3.jpg");
      }

      &-4 {
        background-image: url("../img/story-picture4.jpg");
      }

      &-5 {
        background-image: url("../img/story-picture5.jpg");
      }

      &-6 {
        background-image: url("../img/story-picture6.jpg");
      }

      &-7 {
        background-image: url("../img/story-picture7.jpg");
      }

      &-8 {
        background-image: url("../img/story-picture8.jpg");
      }
    }
  }

  &__text {
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    padding: 2rem 0;
    color: mediumblue;

    &--header {
      color: orangered;
      padding-bottom: 0.5rem;
      font-size: 2rem;
      padding-top: 0;
    }
  }
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15rem;
  overflow-x: hidden;

  &__heading {
    padding: 0 0 2rem;
    font-size: 4rem;
    color: orangered;
    text-shadow: 1.2rem 0.7rem 1rem #999;

    &--mini {
      padding-bottom: 2rem;
      font-size: 2.5rem;
      color: mediumblue;
    }
  }

  &__text {
    padding: 4rem 0 0;
    font-size: 1.5rem;
  }

  &__container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 40rem;
    padding: 4rem 0 0;
    align-items: center;
    object-fit: contain;

    &-1 {
      min-width: 55rem;
      min-height: 40rem;
      background-image: url("../img/little-prince.jpg");
    }

    &-2 {
      min-width: 33rem;
      min-height: 39.5rem;
      background-image: url("../img/lp-and-rose.jpg");
    }

    &-3 {
      min-width: 55rem;
      min-height: 35rem;
      background-image: url("../img/lp-and-fox.jpg");
    }
  }

  &__picture {
    max-height: 40rem;
    padding: 4rem 0 0;
    align-items: center;
    object-fit: contain;
  }
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding-top: 10rem;

  &__heading {
    padding-bottom: 2rem;
    font-size: 4rem;
    color: orangered;
    text-align: center;
    text-shadow: 1.2rem 0.7rem 1rem #999;
  }

  &__text {
    padding-bottom: 3rem;
    font-size: 1.6rem;
    color: mediumblue;
    text-align: center;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40rem;
    min-height: 40rem;
    padding: 2rem;
    border: 0.1rem solid orangered;
    border-radius: 3rem;
    box-shadow: 1.2rem 0.7rem 1rem 0.5rem #999;
  }

  &__span {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-bottom: 2rem;

    &--agreement {
      //max-width: 67%;
    }
  }

  &__list {
    display: block;
    padding: 1rem;

    &--agreement {
      display: flex;
      justify-content: center;
    }

    &--button {
      text-align: center;
    }
  }

  &__element {
    border: 0.2rem solid mediumblue;
    border-radius: 0.4rem;
    width: 100%;
    height: 3rem;
    text-align: center;
    font-weight: bold;

    &:hover {
      border: 0.2rem solid orangered;
    }

    &:focus {
      border: 0.3rem solid gray;
    }

    &--textarea {
      overflow: auto;
      height: 6rem;
      resize: none;
      font-weight: 100;
      padding: 1rem;
    }

    &--agreement {
      display: inline-block;
      width: 1rem;
      height: 1rem;
    }

    &--button {
      color: mediumblue;
      width: 11rem;
      height: 3.5rem;
      border-radius: 0.4rem;
      font-size: 1.6rem;

      &:hover {
        background-color: orangered;
      }
    }
  }

  &__label {
    padding: 1rem;
    position: relative;
    font-size: 1.3rem;

    &--agreement {
      color: orangered;
    }
  }

  &__button {
    text-align: center;
    padding-top: 2rem;
  }

  .message {
    font-size: 1.3rem;
    flex-direction: column;
  }

  .message a {
    text-decoration: none;
    color: blue;
  }
}

@media screen and (max-width: 786px) {
  .header {
    border: none;
    border-radius: 0;

    &__logo {
      width: 3.5rem;
      height: 3.5rem;
    }

    &__container {
      padding: 0.5rem 2rem;
    }
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 18px;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: 0.3s ease 0s;
    background-color: blue;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }

  .menu__icon--active span {
    transform: scale(0) translate(0, -50%);
  }

  .menu__icon--active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  .menu__icon--active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }

  .menu__body {
    position: fixed;
    text-align: right;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 95%;
    padding: 100px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    border: none;

    &--active {
      left: 0;
    }
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 4.7rem;
    background-color: orangered;
    z-index: 2;
  }

  .menu__list > li {
    margin-bottom: 1.8rem;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .main-part {
    margin: 0;
  }

  .main-part__text,
  .main-part__text--first {
    font-size: 1.4rem;
  }

  .main-part__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .main-part__heading--first {
    font-size: 4rem;
    margin: 6rem 0 1rem;
  }

  .main-part__section {
    max-width: 100%;
  }

  .main-part__section--first {
    margin-bottom: 0;
  }

  .footer {
    margin: 0;
    min-height: 3rem;
  }

  .stories-block {
    margin: 4.5rem 0.5rem 0.5rem;

    &__section {
      padding: 0.5rem;
      margin: 1rem;
      min-width: 100%;
      width: 55rem;

      &--main {
        min-width: 100%;
      }
    }
  }

  .feedback-form {
    margin: 5rem 0.7rem;

    &__heading {
      padding: 5rem 0 0;
    }

    &__text {
      padding: 3rem;
      font-size: 2rem;
    }

    &__form {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 40rem;
      min-height: 40rem;
      padding: 2rem;
      border: 0.1rem solid orangered;
      border-radius: 3rem;
      box-shadow: 1.2rem 0.7rem 1rem 0.5rem #999;
    }

    &__label--agreement {
      padding: 0.5rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    }

    &__list--agreement {
      padding: 0;
    }

    &__span {
      display: inline-block;
      text-align: center;
      width: 100%;
      padding-bottom: 2rem;

      &--agreement {
        padding-left: 1rem;
      }
    }
  }
}

@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }

  .menu__list > li {
    padding: 10px 0;
  }
}
