* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: monospace;
}

.container {
  margin: 0 2rem 0 2rem;
  height: 100%;
  min-height: 58rem;
  max-width: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 2rem;
  background-color: white;
  border: groove 1em mediumblue;
  border-radius: 2em;
}

  &__logo {
    padding: 0 2rem 0;
  }

  &__img {
    width: 6rem;
    height: auto;
  }

  &__menu {
    padding: 2rem;
    min-width: 5rem;
    max-width: 70%;
  }

  &__nav {
    text-decoration: none;
    font-size: 1.5rem;
    padding-left: 5rem;
    color: mediumblue;
  }

    &:hover {
      color: orangered;
    }

.main-part {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  margin: 2rem 15rem 15rem;
}

  &__heading {
    font-size: 1.5rem;
    color: orangered;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 1rem;
  }

    &--first {
      font-size: 6rem;
      color: blue;
      margin: 12rem 0;
      text-shadow: 1.2rem 0.7rem 1rem #999;
    }

  &__text {
    font-size: 1.3rem;
    text-align: justify;
    padding: 0 2rem 2rem;
  }

    &--first {
      font-size: 1.7rem;
      padding: 1.7rem;
    }

  &__section {
    background-color: lightblue;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    min-width: 5rem;
    max-width: 45%;
    box-shadow: 1.2rem 0.7rem 1rem 0.5rem #999;
  }

    &--first {
      min-width: 90%;
      max-width: 100%;
      margin-bottom: 10rem;
    }

.footer {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 18rem;
  overflow-x: hidden;
  background-image: url("../img/sezam.jpg");
}

  &__text {
    font-size: 1.5rem;
    color: white;
    padding: 2rem;
  }

.stories-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  margin: 5rem 15rem 3rem;
}

  &__section {
    padding: 1rem;
    margin: 1rem 1rem 4rem;
    min-width: 5rem;
    max-width: 45%;
    max-height: 30%;
    box-shadow: 1.2rem 0.7rem 1rem 0.5rem #999;
    border-radius: 2rem;
  }

    &--main {
      max-width: 100%;
    }

    &:hover {
      background-color: lightblue;
    }

  &__href {
    text-decoration: none;
    max-height: 30rem;
  }

  &__img {
    width: 100%;
    max-height: 45rem;
    border-radius: 2rem 2rem 0 0;
  }

  &__text {
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    padding: 2rem 0;
    color: mediumblue;
  }

    &--header {
      color: orangered;
      padding-bottom: 0.5rem;
      font-size: 2rem;
      padding-top: 0;
    }

.story {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15rem;
  overflow-x: hidden;
}
  &__heading {
    padding: 0 0 2rem;
    font-size: 4rem;
    color: orangered;
    text-shadow: 1.2rem 0.7rem 1rem #999;
  }
    &--mini {
      padding-bottom: 2rem;
      font-size: 2.5rem;
      color: mediumblue;
    }

  &__text {
    padding: 4rem 0 0;
    font-size: 1.5rem;
  }

  &__container {
    margin-left: auto;
    margin-right: auto;
  }

  &__picture {
    max-height: 40rem;
    padding: 4rem 0 0;
    align-items: center;
    object-fit: contain;
  }

.feedback-form {
  box-sizing: border-box;
  margin: 15rem 30rem;
}

  &__heading {
    padding-bottom: 2rem;
    font-size: 4rem;
    color: orangered;
    text-align: center;
    text-shadow: 1.2rem 0.7rem 1rem #999;
  }

  &__text {
    padding-bottom: 3rem;
    font-size: 1.6rem;
    color: mediumblue;
    text-align: center;
  }

  &__form {
    box-sizing: border-box;
    padding: 2rem;
    border: 0.1rem solid orangered;
    border-radius: 3rem;
    box-shadow: 1.2rem 0.7rem 1rem 0.5rem #999;
  }

  &__span {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-bottom: 2rem;
  }

    &--agreement {
      max-width: 67%;
    }

  &__list {
    display: block;
    padding: 1rem;
  }

    &--agreement {
      display: flex;
      justify-content: center;
    }

    &--button {
      text-align: center;
    }

  &__element {
    border: 0.2rem solid mediumblue;
    border-radius: 0.4rem;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
  }

    &:hover {
      border: 0.2rem solid orangered;
    }

    &:focus {
      border: 0.3rem solid gray;
    }

    &--textarea {
      overflow: auto;
      height: 6rem;
      resize: none;
      font-weight: 100;
      padding: 1rem;
    }

    &--agreement {
      display: inline-block;
      width: 1rem;
      height: 1rem;
    }

    &--button {
      color: mediumblue;
      width: 11rem;
      height: 3.5rem;
      border-radius: 0.4rem;
      font-size: 1.6rem;
    }

      &:hover {
        background-color: orangered;
      }

  &__span--agreement {
    max-width: 67%;
  }

  &__label {
    padding: 1rem;
    position: relative;
    font-size: 1.3rem;
  }

    &--agreement {
      color: orangered;
    }

  &__button {
    text-align: center;
    padding-top: 2rem;
  }