.slider {
  display: block;
  width: 73rem;
  height: 49rem;
  margin: 0 auto;
  padding-inline-start: 0;
}

.slider__item {
  overflow: hidden;
  display: inline;
}

.slider__picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.prev-button,
.next-button {
  position: absolute;
  top: 0;
  margin-top: 37%;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  font-size: 1rem;
}

.prev-button {
  left: 3rem;
}

.next-button {
  right: 3rem;
}

.slider__numbers {
  display: inline;
  text-align: center;
  line-height: 32px;
  color: #000;
  background-color: blueviolet;
  text-decoration: none;
  margin-right: 2rem;
  padding: 0.7rem;
  top: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 0;
}

.slider__numbers:hover {
  background-color: blue;
}

.slider__numbers-active {
  background-color: red;
}

.hidden__slide {
  display: none;
}

.points__container {
  width: 73rem;
  text-align: center;
}

/*.shown__slide {*/
/*  display: block;*/
/*}*/
