* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: monospace;
}

.container {
  margin: 0 2rem 0 2rem;
  height: 100%;
  min-height: 58rem;
  max-width: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 2rem;
  background-color: white;
  border: groove 1em mediumblue;
  border-radius: 2em;
}

.header__logo {
  padding: 0 2rem 0;
}

.header__logo__img {
  width: 6rem;
  height: auto;
}

.header__menu {
  padding: 2rem;
  min-width: 5rem;
  max-width: 70%;
}

.header__menu--nav {
  text-decoration: none;
  font-size: 1.5rem;
  padding-left: 5rem;
  color: mediumblue;
}

.header__menu--nav:hover {
  color: orangered;
}

.main-part {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  margin: 2rem 15rem 15rem;
}

.main-part__heading {
  font-size: 6rem;
  color: blue;
  margin: 12rem 0;
  text-shadow: 1.2rem 0.7rem 1rem #999;
}

.main-part__text {
  font-size: 1.7rem;
  padding: 1.7rem;
}

.main-part__section {
  padding: 1rem;
  margin: 1rem;
  min-width: 5rem;
  max-width: 45%;
  box-shadow: 1.2rem 0.7rem 1rem 0.5rem #999;
}

.main-part__section:hover {
  background-color: lightblue;
  color: black;
  border-radius: 2rem;
  /*transition: color 1s;*/
}
.main-part__section__heading {
  font-size: 1.5rem;
  color: orangered;
  margin-bottom: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.main-part__section__text {
  font-size: 1.3rem;
  text-align: justify;
  padding: 0 2rem 2rem;
}

.main-part__section--first {
  background-color: lightblue;
  border-radius: 2rem;
  min-width: 90%;
  max-width: 100%;
  margin-bottom: 10rem;
}

.footer {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 18rem;
  overflow-x: hidden;
  background-image: url("/src/img/sezam.jpg");
}

.footer__text {
  font-size: 1.5rem;
  color: white;
  padding: 2rem;
}

/*@media screen and (min-width: 900px) {*/
/*    .main-part {*/
/*        margin: 1rem;*/
/*    }*/

/*    .main-part__section {*/
/*        max-width: 100%;*/
/*    }*/
/*    .header__menu--nav,*/
/*    .main-part__text,*/
/*    .main-part__section__text,*/
/*    .main-part__section__heading,*/
/*    .footer__text {*/
/*        font-size: 170%;*/
/*    }*/
/*}*/
